[submodule "webmanager"]
	path = webmanager
	url = https://github.com/weijia/webmanager.git
[submodule "django-simplemenu"]
	path = django-simplemenu
	url = https://github.com/weijia/django-simplemenu.git
[submodule "userena-bootstrap"]
	path = userena-bootstrap
	url = https://github.com/syntaxsugar/userena-bootstrap.git
[submodule "django-oauth2-provider"]
	path = django-oauth2-provider
	url = https://github.com/weijia/django-oauth2-provider.git
